
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu contenido</ion-title>
    </ion-toolbar>
    <ion-button class="ion-padding" [routerLink]="(['/crear-producto'])">Crear producto</ion-button>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
<ion-card *ngFor="let producto of producto">
  <ion-list>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title><h4>Titulo: {{producto.titulo}}</h4></ion-card-title>
      <ion-card-title><h4>Categoria: {{producto.categoria}} </h4></ion-card-title>
      <ion-card-title><h4>Rating: {{producto.rating}}</h4></ion-card-title>
    <ion-card-title><h2>${{producto.precio}} tiene un descuento de %{{producto.descuento}}</h2></ion-card-title>
   </ion-card-header>
   <ion-card-content>
    <ion-label>{{producto.descripcion}}</ion-label>
  </ion-card-content>
  </ion-list>
</ion-card>
</ion-content>
</div>
