<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let producto of producto">
  <ion-list>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title><h4>Titulo: {{producto.titulo}}</h4></ion-card-title>
      <ion-card-title><h4>Categoria: {{producto.categoria}} </h4></ion-card-title>
      <ion-card-title><h4>Rating: {{producto.rating}}</h4></ion-card-title>
    <ion-card-title><h2>${{producto.precio}} tiene un descuento de %{{producto.descuento}}</h2></ion-card-title>
   </ion-card-header>
   <ion-card-content>
    <ion-label>{{producto.descripcion}}</ion-label>
  </ion-card-content>
  </ion-list>
</ion-card>
</ion-content>
